extends ../_includes/layout

block title
    title !{__.CookieNotice.TITLE}

block meta
    meta(property="og:type" content="website")
    meta(property="og:title" content=__.CookieNotice.META_TITLE)
    meta(property="og:description" content=__.CookieNotice.META_DESCRIPTION)
    meta(property="og:image" content=__.CookieNotice.META_IMAGE)

block content
    +loader()
    +generic-page(documents.CookieNotice)
