extends ../_includes/layout

block title
    title !{__.PrivacyNotice.TITLE}

block meta
    meta(property="og:type" content="website")
    meta(property="og:title" content=__.PrivacyNotice.META_TITLE)
    meta(property="og:description" content=__.PrivacyNotice.META_DESCRIPTION)
    meta(property="og:image" content=__.PrivacyNotice.META_IMAGE)

block content
    +loader()
    +generic-page(documents.PrivacyNotice)
