extends ../_includes/layout

block title
    title !{__.TermsConditions.TITLE}

block meta
    meta(property="og:type" content="website")
    meta(property="og:title" content=__.TermsConditions.META_TITLE)
    meta(property="og:description" content=__.TermsConditions.META_DESCRIPTION)
    meta(property="og:image" content=__.TermsConditions.META_IMAGE)

block content
    +loader()
    +generic-page(documents.TermsConditions)
