extends ../_includes/layout

block title
    title !{__.RiskWarning.TITLE}

block meta
    meta(property="og:type" content="website")
    meta(property="og:title" content=__.RiskWarning.META_TITLE)
    meta(property="og:description" content=__.RiskWarning.META_DESCRIPTION)
    meta(property="og:image" content=__.RiskWarning.META_IMAGE)

block content
    +loader()
    +generic-page(documents.RiskWarning)
