window.dsxCredentials = {
    intercomId: {{ window_dsx_credentials_intercom_id|default('t3z283os') }},
    matomo: {{ window_dsx_credentials_matomo|default('false') }},
    matomoUrl: {{ window_dsx_credentials_matomo_url|default('https://matomo.dsx.cool/') }},
    matomoCookieDomain: {{ window_dsx_credentials_matomo_cookie_domain|default('*{{ domain }}') }},
    matomoDomains: {{ window_dsx_credentials_matomo_domains|default('['*.{{ domain }}']') }},
    matomoSiteId: {{ window_dsx_credentials_matomo_site_id|default(6) }},
    googleAnalytics: {{ window_dsx_credentials_google_analytics|default('UA-52457763-3') }},
    googleMetrics: {{ window_dsx_credentials_google_metrics|default('false') }},
};
