@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-MediumItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Bold.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-LightItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('/homepage/assets/fonts/Aeonik-AirItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-AirItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('/homepage/assets/fonts/Aeonik-Air.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Medium.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Regular.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Thin.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-ThinItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-BlackItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-RegularItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-BoldItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Light.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/homepage/assets/fonts/Aeonik-Black.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeonik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport Mono';
    src: url('/homepage/assets/fonts/AeroportMono.woff2') format('woff2'),
        url('/homepage/assets/fonts/AeroportMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-Italic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-Light.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-LightItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-BoldItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-Medium.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-Bold.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('/homepage/assets/fonts/Aeroport-MediumItalic.woff2') format('woff2'),
        url('/homepage/assets/fonts/Aeroport-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
