.dsx-hero {
    $root:&;

    position:relative;

    &-wrap {
        padding: 0 0 0 0;

        @media #{$big} {
            padding: 40px 0 0 0;
        }
    }


    &-texts {
        position: relative;

        @media #{$big} {
            padding-top: 224px;

            @include toGrid(desktop, 5, 1, left, 6, right);
        }

        @media #{$desktop} {
            padding-top: 160px;

            @include toGrid(desktop, 5, 1, left, 6, right);
        }

        @media #{$laptop} {
            padding-top: 128px;

            @include toGrid(laptop, 5, 1, left, 6, right);
        }

        @media #{$tablet} {
            padding-top: 159px;

            @include toGrid(tablet, 6, 0, left, 6, right);
        }

        @media #{$phone} {
            margin: 0;
            padding-top: 77px;
            width: 100%;
        }

        h1 {
            font-weight: 700;

            @media #{$big}, #{$desktop} {
                font-size: 64px;
                letter-spacing: -0.4px;
                line-height: 64px;
            }

            @media #{$laptop} {
                font-size: 48px;
                letter-spacing: -0.3px;
                line-height: 48px;
            }

            @media #{$tablet} {
                font-size: 40px;
                letter-spacing: -0.25px;
                line-height: 40px;
            }

            @media #{$phone} {
                font-size: 40px;
                letter-spacing: -0.4px;
                line-height: 40px;
            }
        }

        p {
            @media #{$big}, #{$desktop} {
                font-size: 24px;
                line-height: 36px;
                margin-top: 37px;
            }

            @media #{$laptop} {
                font-size: 22px;
                line-height: 36px;
                margin-top: 24px;
            }

            @media #{$tablet} {
                font-size: 20px;
                line-height: 28px;
                margin-top: 29px;
            }

            @media #{$phone} {
                font-size: 18px;
                line-height: 28px;
                margin-top: 23px;
            }
        }

        button.dsx-btn {
            @media #{$big} {
                margin-top: 22px;
            }

            @media #{$desktop} {
                margin-top: 22px;
            }

            @media #{$laptop} {
                margin-top: 13px;
            }

            @media #{$tablet} {
                margin-top: 17px;
            }

            @media #{$phone} {
                margin-top: 12px;
            }
        }
    }

    &-slider {
        position: absolute;
        overflow: hidden;
        z-index: 1; //to be above numbers gradient bg
        top: 0;
        left: 0;


        @media #{$big}, #{$desktop} {
            width: 100% * 607px / 1440px;
            max-width: 686px;
        }

        @media (min-width: 1630px) {
            left: 50%;
            margin-left: (-1630px / 2);
        }

        @media #{$laptop} {
            width: 100% * 432px / 1024px;
        }

        @media #{$tablet} {
            width: 100% * 320px / 768px;
        }

        @media #{$phone} {
            position: relative;
            margin-top: 52px;
            width: 100%;
        }

        &-aspect {
            position: relative;
            height: 0;
            padding-top: (100% * 814px / 607px);

            @media #{$tablet} {
                padding-top: (100% * 569px / 320px);
            }

            @media #{$phone} {
                padding-top: 100%;
            }
        }

        &-clipper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &-wrapper {
            position: relative;
            display: block;
            width: 100%;
            height: 100% * (814px + 40px) / 814px;
        }

        &-item {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                transform-origin: 70% 50%;
            }

            img,
            video {
                display: block;
                @include fill-image();
            }
        }
    }

    &-image {
        position: relative;
        overflow: hidden;
        z-index: 1; //to be above numbers gradient bg

        @media #{$big} {
            margin-top: 289px;

            @include toGrid(desktop, 4, 0, right, -1, right);
        }

        @media #{$desktop} {
            margin-top: 185px;

            @include toGrid(desktop, 4, 0, right, -1, right);
        }

        @media #{$laptop} {
            margin-top: 127px;

            @include toGrid(laptop, 4, 0, right, -1, right);
        }

        @media #{$tablet} {
            margin-top: 172px;

            @include toGrid(tablet, 4, 0, right, -1, right);
        }

        @media #{$phone} {
            display: none;
        }

        &-aspect {
            position: relative;
            height: 0;
            padding-top: (100% * 139px / 216px);
        }

        &-clipper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &-wrapper {
            position: relative;
            display: block;
            width: 100%;
            height: 100% * (248px + 40px) / 248px;

            img {
                display: block;
                @include fill-image();
            }
        }

    }
}
